.table {
  border: solid 1px black;
  background-color: beige;
  padding: 10px;
  width: 1200px;
}

.tableHead {
  background-color: #333;
  color: #fdfdfd;
  display: block;
  padding: 5px;
}
.tableBody {
  background-color: white;
  color: black;
  display: block;
  padding: 5px;
}
.tableRow {
  margin: 15px;
  display: inline-block;
}
.tableCell {
  margin: 5px;
  border: solid 1px black;
  padding: 8px;
}
